<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
      <div class="container">
        <img src="/media/tomatiki_logo_dark_theme.png" height="50" />
      </div>
    </a>
    <span class="text-white ms-3">
      <h3>Welcome {{ user.username }}</h3>
    </span>
    <div class="d-flex flex-row-reverse">
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          {% if user.rule == 'admin' %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_master_clock' %}">Edit Time</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_users' %}">Users</a>
          </li>
          
          {% endif %}
          
          
          {% if user.rule != 'user' %}
            
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logs_view' %}">Logs</a>
          </li>
          {% endif %}
            
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>  
      </div>
    </div>
  </div>
</nav>
